.wrapper {
	-webkit-box-sizing: border-box;

.column {
	min-height: 30px;
	margin: 0 auto;
	background-color: black;
	background-size: 100%;
}

.header__logo {
	float: left;
	background-image: url("../assets/logo.jpg");
	width: 110px;
	height: 132px;
}

.info__nav {
	float: left;
}

.centered__background {
	background-image: url("../assets/livemusic.jpg");
	background-repeat: no-repeat;
	min-height: 600px;
	width: 100%;

}

.icons img {
    width: 35px !important;
    padding: 6px;
    border: 0;
    box-shadow: none !important;
    display: inline !important;
    vertical-align: middle;
}