/* app level */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 100px;
}

.wrapper {
	-webkit-box-sizing: border-box;

}

.column {
	min-height: 30px;
	margin: 0 auto;
	background-color: black;
	background-size: 100%;
}

.info__nav {
	float: left;
}

.centered__background {
	background-image: url("../assets/background.jpg");
	background-repeat: no-repeat;
	min-height: 600px;
	width: 100%;

}

/* nav section */

.navbar-brand {
	padding: 0;
}

.logo-holder img {
  width: 60px;
}


/* middle sections stuff */

.content-slider {
	width: 820px;
	margin: 0 auto;
}

.slides {
  padding: 20px;
}

.slide-1 {
	background-image: url("../assets/slide1.jpg");
	background-repeat: no-repeat;
	height: 500px;
}

.slide-2 {
	background-image: url("../assets/slide2.jpg");
	background-repeat: no-repeat;
	height: 500px;
}

.slide-3 {
	background-image: url("../assets/slide3.jpg");
	background-repeat: no-repeat;
	height: 500px;
}

.slides__img-container {
  float: left;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
}

.slides__text-container {
  float: left;
  width: 50%;
  background-color: rgba(255, 255, 255, .65);
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px;
}

/* footer section */

.footer-section {
  position: absolute;
  left: 0;
  bottom: -90px;
  height: 100px;
  width: 100%;
  background-color: #000;
  padding: 20px 50px;
  display: none;
}

.footer-menu-holders {
	width: 50px;
	height: 50px;
	float: left;
}

img.social-icons {
	width: 100%;
	height: 100%;
}

.right-side-btn {
	float: right;
}















